.icon-user {
    background-image: url("../sprite/other/user-icon.jpg");
}

.icon-basket {
    background-image: url("../sprite/png/bag_buy_cart_market_shop_shopping_tote_icon_123191.png");
}

.icon-product {
    background-image: url("../sprite/png/—Pngtree—fast\ shopping\ cart\ icon\ design_5537563.png");
}

.shower-wallpaper {
    background-image: url("../sprite/other/Toga\ TN-1\ +\ TW\ final.jpg");
}

.delivery-icon {
    background-image: url("../sprite/png/premium-icon-free-shipping-4454518.png");
}

.calendar-icon {
    background-image: url("../sprite/svg/cal.svg");
}

.hand-icon {
    background-image: url("../sprite/svg/hand.svg");
}

.auto-icon {
    background-image: url("../sprite/svg/auto.svg");
}

.role-icon {
    background-image: url("../sprite/svg/role.svg");
}

.arrow-icon {
    background-image: url("../sprite/svg/downarrow_121316.svg");
}

.delivery-wallpaper {
    background-image: url("../sprite/other/pexels-kindel-media-6994138.jpg");
}

.empty-icon {
    background-image: url("../sprite/svg/empty_file_icon-icons.com_72420.svg");
}

.qa-icon {
    background-image: url("../sprite/other/artem-maltsev-0CvHQ62gwY8-unsplash.jpg");
}

.phone-icon {
    background-image: url("../sprite/svg/phone-call-phone-svgrepo-com.svg");
}

.box-icon {
    background-image: url("../sprite/svg/box-package.svg");
}